@charset "utf-8";


/* Slider Unique CSS */

#homewrap {
}

#home{
width:960px;
}

#homepage-main-text{
float: left;
width: 938px;
margin-left:-8px;
padding-left:10px;
padding-right:10px;
overflow:hidden;
}

#homepage-main-text img{
padding:0px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}



