#homepage-bottom-right{
height:320px;}

#homepage-bottom-left{
height:320px;}

#homepage-box1 img {margin: -1em 0;}
#homepage-box2 img {margin: -1em 0;}
#homepage-box3 img {margin: -1em 0;}
#homepage-box4 img {margin: -1em 0;}

#devider {margin-bottom:0px}

#home {margin-top:0px;}

#wraptop{width:960px}

