@charset "utf-8";
/* All-In-One Unique CSS */

#business {
background:#F5F5F6;
padding-left:18px;
padding-right:10px;
padding-top:16px;
padding-bottom:1px;
margin-top:-2px;
width:920px;
margin-left:-1px;
border-radius: 8px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#business img{
padding: 0px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#home{
margin-top: 18px;
width:960px;
background:grey;
}

#home h3{
font:18px Gotham, Sans-Serif;}

#homepage-left{
float: left;
width: 285px;
height:380px;
background:#f5f5f6;
margin-right:15px;
padding-left:10px;
padding-right:10px;
padding-top:15px;
padding-bottom:10px;
overflow:hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-left img{
padding: 0px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-middle{
float: left;
width: 285px;
height:380px;
background:#f5f5f6;
margin-right:15px;
padding-left:10px;
padding-right:10px;
padding-top:15px;
padding-bottom:10px;
overflow:hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-middle img{
padding: 0px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-right{
float: left;
width: 285px;
height:380px;
background:#f5f5f6;
padding-left:10px;
padding-right:10px;
padding-top:15px;
padding-bottom:10px;
overflow:hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-right img{
padding: 0px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}
