@charset "utf-8";
/* Rotator Unique CSS */

/*** Slideshow: set the width and height to match your images **/

#wraptop{width:890px}

#business {
width:920px;
padding-left:11px;
padding-top:7px;
}

#devider{
margin-top:25px;
width:940px;
margin-bottom: 25px;
border-top-style:solid;
border-top-width:1px;
border-top-color:#ccc;
	-moz-box-shadow:  0 1px 2px #ccc;
	-webkit-box-shadow:  0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc;
}

#home{
margin-top: 15px;
margin-left:-3px;
width:960px;
}

#home h3{
font:18px Gotham, Sans-Serif;}

#company-news{
margin-top:12px;
margin-bottom:12px;
}

#company-news h2{
padding-top:7px;
}

#homepage-box1{
float: left;
width: 190px;
height:185px;
margin-right:18px;
margin-left:3px;
padding-left:15px;
padding-right:15px;
padding-top:20px;
padding-bottom:15px;
overflow:hidden;
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
	}
	
#homepage-box1 img{
width: 188px;
padding:0px;
margin-top:6px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}


#homepage-box2{
float: left;
width: 190px;
height:185px;
margin-right:18px;
padding-left:15px;
padding-right:15px;
padding-top:20px;
padding-bottom:15px;
overflow:hidden;
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
	}

#homepage-box2 img{
width: 188px;
padding:0px;
margin-top:6px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-box3{
float: left;
width: 190px;
height:185px;
margin-right:18px;
padding-left:15px;
padding-right:15px;
padding-top:20px;
padding-bottom:15px;
overflow:hidden;
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
	}

#homepage-box3 img{
width: 188px;
padding:0px;
margin-top:6px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-box4{
float: left;
width: 190px;
height: 185px;
padding-left:15px;
padding-right:15px;
padding-top:20px;
padding-bottom:15px;
overflow:hidden;
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
	}

#homepage-box4 img{
width: 188px;
padding:0px;
margin-top:6px;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}


