@charset "utf-8";


/* Cynthia Unique CSS */

#homewrap{
padding-left:8px;
padding-right:8px;}

#business {
margin-bottom:12px;
}

#home{
width:960px;
background:grey;
}

#homeimage {
float: none;
border:none;
padding:0px;
margin-bottom:20px;
}

#homeimage img {
padding:0px;
margin-left:-6px;
width: 956px;
border-style:solid;
	border-width:1px;
	border-color:#ccc;
-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

}

#home h3{
font:18px Gotham, Sans-Serif;}

#homepage-left{
float: left;
width: 210px;
height:400px;
margin-left:-6px;
padding-left:15px;
padding-right:15px;
padding-top:15px;
padding-bottom:15px;
overflow:hidden;
border-style:solid;
	border-width:1px;
	border-color:#ccc;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#homepage-left img{
padding:0px;
 -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-right{
float: right;
width: 666px;
height:400px;
margin-right: 11px;
padding-left:15px;
padding-right:15px;
padding-top:15px;
padding-bottom:15px;
overflow:hidden;
border-style:solid;
	border-width:1px;
	border-color:#ccc;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#homepage-right img{
padding:0px;
 -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    -moz-box-shadow:  0 1px 2px #AAAAAA;
	-webkit-box-shadow:  0 1px 2px #AAAAAA;
    box-shadow: 0 1px 2px #AAAAAA;
}

#homepage-right p{
padding-right:30px;
}

